<div id="CC-ant-header" data-oc-id="CC-ant-header">
  <!-- oc layout: panels -->
    <div class="row">
      <div class="oc-panel col-md-12" data-oc-id="cs-header-panel-1">
        <!-- oc section: fixed-header -->
          <div data-bind="element: 'ant-fixed-header'"></div>
        <!-- /oc -->
      </div>
    </div>
    <div class="row">
      <div class="oc-panel col-md-12" data-oc-id="cs-header-panel-2">
        
      </div>
    </div>
  <!-- /oc -->
</div>